<div class="container">
	<div class="panel panel-primary">
		<div class="panel panel-heading" ng-click="collapse()">
			{{user.name}}
		</div>
		<div class="panel panel-body" ng-show="!collapsed">
			<address></address>
			<div ng-show="user.friends" style="margin-top: 20px">
				<h4>Friends</h4> 
				<ul>
					<li ng-repeat="friend in user.friends">
						{{friend}}
						<remove-friend remove-method="removeFriend(friend)"></remove-friend>
					</li>
				</ul>

			</div>
			<div style="margin-top: 20px">
				<p ng-show="user.tag">Tagged</p>
				<button class="btn btn-primary" ng-show="!user.tag" ng-click="tagUser(user)">
					Tag Me
				</button>
			</div>
		</div>
	</div>
</div>